.navbar{
  display: flex;
  top: 0;
  width: 100%;
  background-color: white;
}
.navbar > *{
  margin: .5% .5% .5% .5%;
}
.search_bar{
  display: flex;
  padding: 9px;
  font-size: 17px;
  border: 1px solid black;
  background-color: #f1f1f1;
  width: 53%;
  border-radius: 30px;
  flex-shrink: 15;
}
.search_bar input{
  width: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  background-color: #f1f1f1;
}
.search_bar button{
  border: 0;
  background-color: #f1f1f1;
}

.navbar > button{
  border:0;
  background-color: white;
  font-size: medium; 
}

.navbar button:hover{
  color: rgb(185, 20, 185);
  cursor: pointer;
}

.navbar .LL{
  border: 2px solid black;
  font-weight: bolder;
  padding: 10px 10px 10px 10px;
}

#SignUp{
  color:white;
  background-color:black;
  font-weight: bolder;
  padding: 10px 10px 10px 10px;
}
#hourglass{
  margin-left:5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

header{
  display: flex;
  top:0;
  width: 80%;
  background-color: #f1f1f1;
  margin-left: 5%;
  margin-right: 5%;
  align-self: center;;
}
#header_container{
  display: flex;
  justify-content: center;
}
header div{
  background-color: white;
  width: 35%;
  height: 50%;
  padding: 1% 2%;
  border-radius: 5%;
  margin: 5%;
}
header div p{
  font-size: 20px;
  font-weight: bolder;
}

section{
  display: flex;
  width: 84%;
  margin-left: 8%;
  margin-right: 8%;
  flex-wrap: wrap;
}

#Courses_head button {
  border: 0;
  background-color: white;
  color: gray;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
}
#Courses_head button:hover{
  color: black;
}
#Courses_head button:focus{
  color: black;
  cursor:default;
}

#main_courses{
  border: black solid 1px;
  width: 100%;
  margin-top:3% ;
  padding: 3% 3% 3% 3%;
  
}
#explore_course{
  border: black solid 1px;
  color: black;
  font-weight: bold;
  padding: 1%;
  background-color: white;
}
#explore_course:hover{
  background-color: #f1f1f1;
  cursor: pointer;
}
#coursesP2{
  width: 70%;
  font-size: large;
}

.course_card{
  width: 18%;
  margin-top: 5%;
  margin-left: 1%;
  margin-right: 1%;
}
.course_card img{
  width : 100%
}
.course_card p{
  font-size: small;
  font-weight: bold;
}
.course_card{
  text-decoration: none;
  color: black;
}
.checked{
  color:orange;
}
/* small screens */
@media (min-width: 1px){
  .navbar > *{
      /* hide all elements */
      display: none;
  }
  /* show img */
  button.mobileNav{
      display: flex;
  }
  div.mobileNav{
      display: flex;
  }
  .navbar{
      flex-direction: row-reverse;
      justify-content: space-between;
  }
  header{
      flex-direction: column-reverse;
      align-items: center;
  }
  header div{
      width: 80%;
      
  }
  header img{
      width: 30%;
      margin-left: 20%;
      margin-right: 20%;
  }
  #coursesP2{
      display: none;
  }
  .course_card{
      width: 40%;
      margin-left: 5%;
  }
  #main_courses div{
      flex-wrap: wrap;
  }
}

@media (min-width: 850px){
  .navbar{
      flex-direction: row;
  }
  .navbar > *{
      /* show all elements */
      display: flex;
  }
  button.mobileNav{
      display: none;
  }

  header{
      flex-direction: row;
  }
  header div{
      width: 35%;
  }
  header img{
      width: 20%;
      margin-left: 10%;
      margin-right: 10%;
  }
  #coursesP2{
      display: flex;
  }
  .course_card{
      width: 18%;
      margin-top: 5%;
      margin-left: 1%;
      margin-right: 1%;
  }
}